<nav>
  <ul>
    <li><a href="{{ path( 'app_groups') }}">Groupes</a></li>
    <li><a href="{{ path( 'app_countries') }}">Pays</a></li>
    <li><a href="{{ path( 'app_main') }}">ACCUEIL</a></li>
    <li><a href="{{ path( 'app_cities') }}">Villes</a></li>
    <li><a href="{{ path( 'app_users') }}">Utilisateurs</a></li>
  </ul>
</nav>